{% extends 'dashboard_base.html' %}
{% block title %} Bem-vindo ao Painel Admin {% endblock %}
{% block content %}
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Dashboard</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card widget-inline">
                <div class="card-body p-0">
                    <div class="row g-0">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card shadow-none m-0">
                                <div class="card-body text-center">
                                    <i class="fa-solid fa-users" style="font-size: 24px;"></i>
                                    <h3><span>{{context.len_owners}}</span></h3>
                                    <p class="text-muted font-15 mb-0">Total Proprietários</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="card shadow-none m-0 border-start">
                                <div class="card-body text-center">
                                    <i class="fa-solid fa-car" style="font-size: 24px;"></i>
                                    <h3><span>{{context.len_cars}}</span></h3>
                                    <p class="text-muted font-15 mb-0">Total Carros</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="card shadow-none m-0 border-start">
                                <div class="card-body text-center">
                                    <i class="fa-solid fa-cart-flatbed" style="font-size: 24px;"></i>
                                    <h3><span>{{context.len_sales}}</span></h3>
                                    <p class="text-muted font-15 mb-0">Vendas</p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end row -->
                </div>
            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->


    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="header-title">Último Proprietário</h4>
                    </div>
                    <div class="row text-center mt-2 py-2">
                        <div class="col-sm-6">
                            <div class="my-2 my-sm-0">
                                <i class="mdi mdi-trending-up text-success mt-3 h3"></i>
                                <p class="text-muted font-15 mb-0">{{context.last_owner.name}}</p>
                                <p class="text-muted mb-0" style="font-weight: bold;">Nome</p>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="my-2 my-sm-0">
                                <i class="mdi mdi-trending-down text-primary mt-3 h3"></i>
                                <p class="text-muted font-15 mb-0">{{context.last_owner.email}}</p>
                                <p class="text-muted mb-0" style="font-weight: bold;">E-mail</p>
                            </div>

                        </div>
                    </div>
                    <!-- end row-->

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="header-title">Último Carro</h4>
                    </div>
                    <div class="row text-center mt-2 py-2">
                        <div class="col-sm-4">
                            <div class="my-2 my-sm-0">
                                <i class="mdi mdi-trending-up text-success mt-3 h3"></i>
                                <p class="text-muted font-15 mb-0">{{context.last_car.name}}</p>
                                <p class="text-muted mb-0" style="font-weight: bold;">Nome</p>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="my-2 my-sm-0">
                                <i class="mdi mdi-trending-down text-primary mt-3 h3"></i>
                                <p class="text-muted font-15 mb-0">{{context.last_car.color}}</p>
                                <p class="text-muted mb-0" style="font-weight: bold;">Cor</p>
                            </div>

                        </div>

                        <div class="col-sm-4">
                            <div class="my-2 my-sm-0">
                                <i class="mdi mdi-trending-down text-primary mt-3 h3"></i>
                                <p class="text-muted font-15 mb-0">{{context.last_car.model}}</p>
                                <p class="text-muted mb-0" style="font-weight: bold;">Modelo</p>
                            </div>

                        </div>
                    </div>
                    <!-- end row-->

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>
    <!-- end row-->

</div>
{% endblock %}