{% extends 'header.html' %}
{% block title %} Criação de Cor {% endblock %}

{% block content %}
<div class="container-fluid">
    {% if context.message_error is not None %}
    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show"
         role="alert">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                aria-label="Close"></button>
        <strong>Aviso - </strong> {{ context.message_error }}
    </div>
    {% endif %}
    <form action="{% url 'create_colors' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="colors-select" class="form-label">Cores</label>
            <div class="mb-3">
                <select name="color" class="form-select" id="colors-select">
                    <option>Selecione uma Cor</option>
                    <option value="1">Amarelo</option>
                    <option value="2">Azul</option>
                    <option value="3">Cinza</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Cor</button>
        <a href="{% url 'list_colors' %}" class="btn btn-primary"><i class="fa-solid fa-list"></i> Cores</a>
    </form>

</div>
{% endblock %}