{% extends 'dashboard_base.html' %}
{% block title %} Criação de Cor {% endblock %}

{% block body %}
<div class="container-fluid">
    {% include 'messages.html' %}
    <form action="{% url 'create_colors' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="colors-select" class="form-label">Cores</label>
            <div class="mb-3">
                <select name="color" class="form-select" id="colors-select">
                    <option>Selecione uma Cor</option>
                    <option value="1">Amarelo</option>
                    <option value="2">Azul</option>
                    <option value="3">Cinza</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Cor</button>
        <a href="{% url 'list_colors' %}" class="btn btn-primary"><i class="fa-solid fa-list"></i> Cores</a>
    </form>

</div>
{% endblock %}