{% extends 'header.html' %}
{% block title %} Criação de Carro {% endblock %}

{% block content %}
<div class="container-fluid">
    {% if context.message_error is not None %}
    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show"
         role="alert">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                aria-label="Close"></button>
        <strong>Aviso - </strong> {{ context.message_error }}
    </div>
    {% endif %}
    <form action="{% url 'create_owners' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" id="name" name="name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Email</label>
            <input type="text" id="email" name="email" class="form-control">
        </div>
        <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Proprietário</button>
        <a href="{% url 'list_owners' %}" class="btn btn-primary"><i class="fa-solid fa-list"></i> Proprietários</a>
    </form>

</div>
{% endblock %}