{% extends 'dashboard_base.html' %}
{% block title %} Listagem de Proprietários {% endblock %}

{% block body %}
<div class="container">
    {% include 'messages.html' %}
    <table class="table table-centered mb-0">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for owner in context.owners %}
        <tr>
            <td>{{owner.name}}</td>
            <td>
                <a href="{% url 'details_owners' owner.id %}" class="btn btn-light"><i class="fa-solid fa-circle-info"></i></a>
                <a href="{% url 'update_owners' owner.id %}" class="btn btn-light"><i class="fa-solid fa-pen-clip"></i></a>
                <a href="{% url 'delete_owners' owner.id %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        {% empty %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong>Aviso - </strong> Sem registro de Proprietários
        </div>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    <a href="{% url 'create_owners' %}" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Proprietário</a>
</div>
{% endblock %}