{% extends 'dashboard_base.html' %}
{% block title %} Edição de Proprietário {% endblock %}

{% block body %}
<div class="container-fluid">
    {% include 'messages.html' %}
    <form action="{% url 'update_owners' context.instance.id %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" id="name" required name="name" value="{{context.instance.name}}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Email</label>
            <input type="text" id="email" required name="email" value="{{context.instance.email}}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Carros Vinculados</label>
            <table class="table table-centered mb-0">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Modelo</th>
                    <th>Cor</th>
                </tr>
                </thead>
                <tbody>
                {% for car in context.cars %}
                <tr>
                    <td>{{car.name}}</td>
                    <td>{{car.model}}</td>
                    <td>{{car.color}}</td>
                </tr>
                {% empty %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong>Aviso - </strong> Sem carros vinculados
                </div>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Proprietário</button>
        <a href="{% url 'list_owners' %}" class="btn btn-primary"><i class="fa-solid fa-list"></i> Proprietários</a>
    </form>

</div>
{% endblock %}