{% extends 'dashboard_base.html' %}
{% block title %} Edição Venda {% endblock %}

{% block body %}
<div class="container-fluid">
    {% include 'messages.html' %}
    <form action="{% url 'update_sales' context.instance.id %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="price" class="form-label">Preço</label>
            <input type="number" id="price" value="{{context.instance.price}}" name="price" class="form-control">
        </div>
        <div class="mb-3">
            <label for="owners-select" class="form-label">Proprietários</label>
            <div class="mb-3">
                <select name="owner" class="form-select" id="owners-select">
                    <option>Selecione um Proprietário</option>
                    {% for owner in context.owners %}
                    {% if owner.id == context.instance.owner.id %}
                    <option selected value="{{owner.id}}">{{owner}}</option>
                    {% else %}
                    <option value="{{owner.id}}">{{owner}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mb-3">
            <label for="cars-select" class="form-label">Carros</label>
            <div class="mb-3">
                <select name="car" class="form-select" id="cars-select">
                    <option>Selecione um Carro</option>
                    {% for car in context.cars %}
                    {% if car.id == context.instance.car.id %}
                    <option selected value="{{car.id}}">{{car}}</option>
                    {% else %}
                    <option value="{{car.id}}">{{car}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Proprietário</button>
        <a href="{% url 'list_owners' %}" class="btn btn-primary"><i class="fa-solid fa-list"></i> Proprietários</a>
    </form>

</div>
{% endblock %}