{% extends 'header.html' %}
{% block title %} Listagem de Cores {% endblock %}

{% block content %}
<div class="container">
    <table class="table table-centered mb-0">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for car in context.cars %}
        <tr>
            <td>{{car.name}}</td>
            <td>
                <a href="{% url 'update_cars' car.id %}" class="btn btn-light"><i class="fa-solid fa-pen-clip"></i></a>
                <a href="{% url 'delete_cars' car.id %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        {% empty %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong>Aviso - </strong> Sem registro de carros
        </div>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    <a href="{% url 'create_cars' %}" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Carro</a>
</div>
{% endblock %}