{% extends 'dashboard_base.html' %}
{% block title %} Criação de Modelo {% endblock %}

{% block body %}
<div class="container-fluid">
    {% include 'messages.html' %}
    <form action="{% url 'create_models' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="models-select" class="form-label">Modelos</label>
            <div class="mb-3">
                <select name="model" class="form-select" id="models-select">
                    <option>Selecione um Modelo</option>
                    <option value="1">Hatch</option>
                    <option value="2">Sedan</option>
                    <option value="3">Convertible</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Modelo</button>
        <a href="{% url 'list_models' %}" class="btn btn-primary"><i class="fa-solid fa-list"></i> Modelos</a>
    </form>

</div>
{% endblock %}