{% extends 'dashboard_base.html' %}
{% block title %} Criação de Modelo {% endblock %}

{% block body %}
<div class="container-fluid">
    {% if context.message_error is not None %}
    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show"
         role="alert">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                aria-label="Close"></button>
        <strong>Aviso - </strong> {{ context.message_error }}
    </div>
    {% endif %}
    <form action="{% url 'create_models' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="models-select" class="form-label">Modelos</label>
            <div class="mb-3">
                <select name="model" class="form-select" id="models-select">
                    <option>Selecione um Modelo</option>
                    <option value="1">Hatch</option>
                    <option value="2">Sedan</option>
                    <option value="3">Convertible</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Modelo</button>
        <a href="{% url 'list_models' %}" class="btn btn-primary"><i class="fa-solid fa-list"></i> Modelos</a>
    </form>

</div>
{% endblock %}