{% extends 'header.html' %}
{% block title %} Listagem de Cores {% endblock %}

{% block content %}
<div class="container">
    <table class="table table-centered mb-0">
        <thead>
        <tr>
            <th>Modelo</th>
        </tr>
        </thead>
        <tbody>
        {% for model in context.models %}
        <tr>
            <td>{{model}}</td>
        </tr>
        {% empty %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong>Aviso - </strong> Sem registro de modelos
        </div>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    <a href="{% url 'create_models' %}" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Modelo</a>
</div>
{% endblock %}