{% block menu %}
<div class="leftside-menu menuitem-active">

    <!-- LOGO -->
    <a href="/dashboard/" class="logo text-center logo-light">
                    <span class="logo-lg" style="margin-top: 20px">
                        <i class="fa-solid fa-car" style="font-size: 45px; color: #f5f5f5"></i>
                    </span>
    </a>

    <div class="h-100 show" id="leftside-menu-container" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: 0px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
                         style="height: 100%; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 0px;">

                            <!--- Sidemenu -->
                            <ul class="side-nav">
                                <li class="side-nav-item">
                                    <a data-bs-toggle="collapse" href="#sidebarColors" aria-expanded="false"
                                       aria-controls="sidebarDashboards" class="side-nav-link">
                                        <i class="fa-solid fa-fill-drip" style="color: #f5f5f5"></i>
                                        <span> Cores </span>
                                    </a>
                                    <div class="collapse hide" id="sidebarColors">
                                        <ul class="side-nav-second-level">
                                            <li>
                                                <a href="dashboard-analytics.html">Cadastro</a>
                                            </li>
                                            <li>
                                                <a href="index.html">Listagem</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="side-nav-item">
                                    <a data-bs-toggle="collapse" href="#sidebarmodels" aria-expanded="false"
                                       aria-controls="sidebarDashboards" class="side-nav-link">
                                        <i class="fa-solid fa-car" style="color: #f5f5f5"></i>
                                        <span> Modelos </span>
                                    </a>
                                    <div class="collapse hide" id="sidebarmodels">
                                        <ul class="side-nav-second-level">
                                            <li>
                                                <a href="/models/create/">Cadastro</a>
                                            </li>
                                            <li>
                                                <a href="/models/list/">Listagem</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="side-nav-item">
                                    <a data-bs-toggle="collapse" href="#sidebarCars" aria-expanded="false"
                                       aria-controls="sidebarDashboards" class="side-nav-link">
                                        <i class="fa-solid fa-car" style="color: #f5f5f5"></i>
                                        <span> Carros </span>
                                    </a>
                                    <div class="collapse hide" id="sidebarCars">
                                        <ul class="side-nav-second-level">
                                            <li>
                                                <a href="/cars/create/">Cadastro</a>
                                            </li>
                                            <li>
                                                <a href="/cars/list/">Listagem</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="side-nav-item">
                                    <a data-bs-toggle="collapse" href="#sidebarOwners" aria-expanded="false"
                                       aria-controls="sidebarDashboards" class="side-nav-link">
                                        <i class="fa-solid fa-users" style="color: #f5f5f5"></i>
                                        <span> Proprietários </span>
                                    </a>
                                    <div class="collapse hide" id="sidebarOwners">
                                        <ul class="side-nav-second-level">
                                            <li>
                                                <a href="/owners/create/">Cadastro</a>
                                            </li>
                                            <li>
                                                <a href="/owners/list/">Listagem</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="side-nav-item">
                                    <a data-bs-toggle="collapse" href="#sidebarSales" aria-expanded="false"
                                       aria-controls="sidebarDashboards" class="side-nav-link">
                                        <i class="fa-solid fa-cart-flatbed" style="color: #f5f5f5"></i>
                                        <span> Venda </span>
                                    </a>
                                    <div class="collapse hide" id="sidebarSales">
                                        <ul class="side-nav-second-level">
                                            <li>
                                                <a href="/sales/create/">Cadastro</a>
                                            </li>
                                            <li>
                                                <a href="/sales/list/">Listagem</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="simplebar-placeholder" style="width: auto; height: 1668px;"></div>
        </div>
        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
            <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
        </div>
        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
            <div class="simplebar-scrollbar"
                 style="height: 462px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
        </div>
    </div>
    <!-- Sidebar -left -->

</div>
{% endblock %}